@charset "UFT-8";

*{
    margin: 0px;
    padding: 0px;
}


body{
    background-image: linear-gradient(to right, #3a3737, #3f3b3baf);
    margin-left: 16px;
    margin-right: 16px;
}

h1{
    text-align: center;
    color: aqua;
}


div.videos > .video1 {
    padding: 1px;
    position: relative;
    
}

.video1{
    width: 30%;
    height: 30%;
    left: 1%;
    top: 1%;
    position: absolute;
}



div.videos > .video2 {
    padding: 1px;
    position: relative;
}

.video2{
    width: 16.8%;
    height: 30%;
    left: 1%;
    top: 1%;
    position: absolute;
}

div.videos > .video3 {
    padding: 1px;
    position: relative;
}

.video3{
    width: 16.8%;
    height: 30%;
    left: 1%;
    top: 1%;
    position: absolute;
}
