@charset "UFT-8";

main {
    

}

h1 {
    text-align: center;
    text-shadow: 2px 3px 1px #8F71EB;
    text-decoration: underline;
}

p {
    text-align: justify;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}